// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$font-family-primary: 'Roboto';
$font-family-secondary: '';

// Colors
$primary-color: #666a86;
$secondary-color: #788aa3;
$tertiary-color: #92b6b1;

body{
  background:#fff;
}

section{
  font-family: $font-family-primary, sans-serif;
  margin-bottom: 3rem;
}

section h2{
  text-transform: uppercase;
  opacity: .1;
  font-size: 1.2em;
}

section h2:after{
  content:'';
  border-bottom:solid #000 2px;
  display: block;
}


// Color Section
.color-container{
  display:flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.color-container .color-box{
  flex:1 1 30%;
  height:8em;
  margin:5px;
  position: relative;
}

.color-container .color-box.primary{
  background: $primary-color;
}

.color-container .color-box.primary:before{
  content:'';
  display: block;
  position: absolute;
  width:50%;
  height:30px;
  background: lighten($primary-color, 5%);
  bottom:0;
  left:0;
}

.color-container .color-box.primary:after{
  content:'';
  display: block;
  position: absolute;
  width:50%;
  height:30px;
  background: darken($primary-color, 5%);
  bottom:0;
  right:0;
}

.color-container .color-box.secondary{
  background: $secondary-color;
}

.color-container .color-box.secondary:before{
  content:'';
  display: block;
  position: absolute;
  width:50%;
  height:30px;
  background: lighten($secondary-color, 5%);
  bottom:0;
  left:0;
}

.color-container .color-box.secondary:after{
  content:'';
  display: block;
  position: absolute;
  width:50%;
  height:30px;
  background: darken($secondary-color, 5%);
  bottom:0;
  right:0;
}

.color-container .color-box.tertiary{
  background: $tertiary-color;
}

.color-container .color-box.tertiary:before{
  content:'';
  display: block;
  position: absolute;
  width:50%;
  height:30px;
  background: lighten($tertiary-color, 5%);
  bottom:0;
  left:0;
}

.color-container .color-box.tertiary:after{
  content:'';
  display: block;
  position: absolute;
  width:50%;
  height:30px;
  background: darken($tertiary-color, 5%);
  bottom:0;
  right:0;
}


// Font Section
.font-container{
  
}

.font-container.title{
  font-size:1rem;
}

.font-container .primary-font:after{
  content: $font-family-primary;
}

.font-container .secondary-font:after{
  content: $font-family-secondary;
}